PORT=3001
NODE_ENV=development

# MySQL
DB_HOST=127.0.0.1
# 数据库端口，默认 3306
DB_PORT=3306
# 数据库用户名
DB_USER=jhbaweb
DB_PASSWORD=97887509
DB_NAME=jhbaweb

# JWT
JWT_SECRET=please_change_me
JWT_EXPIRES_IN=7d

# Uploads
UPLOAD_DIR=uploads
MAX_UPLOAD_MB=50

